.container img{
    width: 300px;
}
body{
    padding:0;
    margin:0;
}

container{
    padding: 0px;
    margin: auto;
}
.home{
    background: #ffbfead9;
    margin:auto;
   overflow:hidden;
  padding: 6rem;
}

.me2 img{
    width: 26rem;
    padding:5px 62px;
}
.me img{
    width: 26rem;
}

.gmbr img{
    width: 120px;
    border-radius: 50%;
}